{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_quiz/random_challenge_form_preview

    A preview section for the list of challenges that match the random
    challenge criteria in the random challenge form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * title A cleaned string (use clean_text()) to display.
    * body HTML content for the boday

    Example context (json):
    {}
}}

{{# options}}
    <div class="global_filter_structure">
        <label>{{# str}}search{{/ str}} : </label>
        <input id="global_filter" class="global filter" type="text" name="search_query" data-options="{{options}}" data-dataoptions="{{dataoptions}}">
    </div>
{{/ options}}

{{#js}}
    require(['local_bulkemail/cardPaginate'], function(cardPaginate) {
        var search_interval = 100;
        var timer;
        $(document).on('keyup', '#global_filter', function(){
            clearTimeout(timer);
            var options = $(this).data('options');
            var dataoptions = $(this).data('dataoptions');
            var searchval = $(this).val();
            var fieldname = $('#global_filter').attr('name');
            timer = setTimeout(function(){
                {{! var filterdata = $(this).data('filterdata'); }}
                var formdata =  $('{{submitid}}').serializeArray();
                values = [];
                filterdatavalue = [];
                $.each(formdata, function (i, field) {
                    valuedata = [];
                    if(field.name != '_qf__filters_form' && field.name != 'sesskey'){
                        if(!(field.name == 'options' || field.name == 'dataoptions')){
                            {{! values[field.name] = field.value; }}
                        {{! }else{ }}
                            var str = field.name;
                            if(str.indexOf('[]') != -1){
                                field.name = str.substring(0, str.length - 2);
                            }
                            if(field.name in filterdatavalue){
                                filterdatavalue[field.name] = filterdatavalue[field.name]+','+field.value;
                            }else{  
                                filterdatavalue[field.name] = field.value;
                            }
                        }

                    }
                });
                {{! var filtervalue = {search_query: $(this).val()}; }}
                if(searchval){
                    filterdatavalue[fieldname] = searchval;
                }
                filterdataparsondata = $.extend({}, filterdatavalue);
                {{! console.log(JSON.stringify(filterdata)); }}
                {{! if(JSON.stringify(filterdata) != '[]')
                    var filterdataoptions = $.extend(filterdata, filtervalue);
                else
                    var filterdataoptions = filtervalue; }}
                cardPaginate.reload(options, dataoptions, filterdataparsondata);
            }, search_interval);
                
        });
        $(document).on('keydown', '#global_filter', function(){
            clearTimeout(timer);
        });
    });
{{/js}}
